RewriteEngine On

# Redireciona tudo para /public, mantendo o path original
RewriteCond %{REQUEST_URI} !^/TrabalhoFreelancePro261225/FreelancePro/public/
RewriteRule ^(.*)$ /TrabalhoFreelancePro261225/FreelancePro/public/$1 [L]
